.catalogo{
    position: absolute;
    margin-top: 160px;
    text-align: center;
    width: 100%;
    color: slateblue;
}

.item{
    border-style: solid;
    border-color: slategray;
    position: absolute;
    margin-top: 200px;
    background-color: white;
    width: 200px;
    text-align: center;
}

.itemCount-Container button{
    padding: 10px;
    background-color: white;
    border-color: thistle;
    border-style: solid;
    font-size: 16px;
    margin: 0 20px;
}

.itemCount-Container label{
    display: inline-block;
   
}