.itemDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  background-color: #a656b1;
  padding: 24px;
  color: white;
  gap: 12px;
}


.itemDetail-imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}


.itemDetail-image {
  width: 50%;
}

.itemDetail-image img {
  width: 100%;
}

.itemDetail-detalles {
  width: 100%;
}

.title {
  margin-top: 0;
  margin-bottom: 10%;
}

.itemDetail-detalles button {
  color: #a656b1;
  background-color: white;
  padding: 10px;
}

.itemDetail-desc{
  width: 50%;
  text-align: right;
}
.price-container{
  max-width: 40%;
  display: inline-block;
}

.price-space{
  width: 50%;
}