.catalogo{
    position: absolute;
    margin-top: 160px;
    text-align: center;
    width: 100%;
    color: slateblue;
    padding: 2em;
}

.item{
    border-style: solid;
    border-color: slategray;
    position: absolute;
    margin-top: 200px;
    background-color: white;
    width: 200px;
    text-align: center;
}
