.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 240px;
    background-color: #f2ccf7;
    padding: 24px;
  /*  border-radius: 16px;*/
    gap: 12px;
  }
  
  .title {
    margin: 0;
    font-size: 18px;
  }
  
  .image {
    height: 120px;
  }
  
  
  .price {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: rgb(190, 161, 205);
    margin: 4px;
    font-size: 12px;
    color: white;
  }
  
  .description {
    font-size: 16px;
    margin: 0;
  }
  