

.itemCount-Container button{
    padding: 10px;
    font-size: 16px;
}

.itemCount-Container label{
    display: inline-block;
}

.itemCount-button{
    background-color: white;
    border-color: rgb(219, 184, 219);
    border-style: solid;
    margin: 0 20px;
}

.agrega-carrito-Container{
    margin: 10px 0;
}

.agregarAlCarrito{
    background-color: rgb(190, 161, 205)  ;
    color: white ;   
}

.stock{
    background-color: rgb(190, 161, 205);
    color: white;
    width: 100%;
    margin-top: 10px ;
    padding: 10px ;
}