
.headerContainer{
    background-color: rgba(160, 9, 122, 0.555);
    width: 100%;
    padding: 1em;
    position: fixed;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .navbar{
    margin: 20px 400px 20px 400px;
  }
  
  .navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
  
  
  .navbar ul li a:hover {
    color: rgb(90, 5, 79);
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
  }